.table {
  width: 80%;
  display: none;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  margin: 120px auto 0px auto;
  animation: showPage 1s ease-in-out forwards;
}

.tableDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tableDiv > select {
  cursor: pointer;
}

.btnBlack {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.btnBlack:hover {
  background-color: var(--subGrey);
}

table,
.pagination {
  width: 100%;
}

table {
  margin-top: 25px;
  box-shadow: 0.1em 0.6em 0.8em 0.1em rgb(246, 246, 246);
}

table > thead {
  border-bottom: 1px solid grey;
}

table > thead > tr > th,
table > tbody > tr > td {
  padding: 8px 0;
  text-align: center;
}

table > thead > tr > th:nth-child(2),
table > tbody > tr > td:nth-child(2) {
  width: 50%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.pagination > button {
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 1.1em;
}

.pagination > button:hover {
  color: var(--mainGrey);
}

.pagination > ul {
  display: flex;
}

.pagination > ul > li > a {
  margin: 0 5px;
  font-weight: bold;
}

.pagination > ul > li > a:not(.pgSelected) {
  color: var(--mainColor);
}

.pgSelected {
  color: var(--mainGrey);
  border-bottom: 2px solid var(--mainGrey);
}

.pagination > ul > li > a:hover {
  color: var(--mainGrey);
}
